@import "variables";

.first-time {
  position: relative;
  display: flex;
  color: $page-bk;
  top: calc(50vh - 150px);
  height: 300px;
  @media screen and (max-width: 768px) {
    flex-flow: column;
    top: calc(50vh - 300px);
    height: 600px;
  }
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, $my-blue 0%,#369ae7 100%);
    box-shadow: 0 0 0 0 white;
    cursor: pointer;
    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 1px white solid;
    }
    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 1px white solid;
    }
    @media screen and (max-width: 768px) {
      height: 100%;
      &:first-of-type {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-right: 0;
        border-bottom: 1px solid white;
      }
      &:last-of-type {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-left: 0;
        border-top: 1px white solid;
      }
    }
  }
  span {
    max-width: 80%;
    text-align: center;
  }
}