footer {
  display: flex;
  font-size: 0.75rem;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ddd;
  .contact-icons {
    a {
      margin: 0 0.2rem;
      &:first-of-type {
        margin-left: 0;
      }
    }
    svg {
      height:25px;
    }
  }
}