@import "variables";
@import "header";
@import "about";
@import "project";
@import "contact";
@import "footer";
@import "timeline";
@import "hobby";
@import "background";
@import "lang";

body {
  background: linear-gradient(rgb(221, 221, 221) 0%, rgb(238, 238, 238) 100%);
  font-family: 'Noto Sans JP', sans-serif;
  @media screen and (max-width: 992px) {
    font-size: 1rem;
  }
}

// general

.margin-containers {
  margin-top: 50px;
}

.btn-back {
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 5;
  border-radius: 10px 10px 0 0;
  background-color: $my-blue;
  color: $page-bk;
  &:hover {
    color: $page-bk;
  }
}

.title-under {
  border-bottom: 3px solid $my-blue;
}

.m-a {
  width: max-content;
  margin: 0 auto;
}