// variables

$font: 'DM Sans', sans-serif;
$my-blue: #2B3A67;
$page-bk: #F1F7ED;
$btn-icon: 20px;

body {
  background-color: $page-bk;
  font-family: 'Noto Sans JP', sans-serif;
  @media screen and (max-width: 992px) {
    font-size: 1rem;
  }
}

// general

.box-shadow {
  box-shadow: 10px 10px 2px 0px $my-blue;
}

.margin-containers {
  margin-top: 50px;
}

// Header

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  padding-bottom: 50px;
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
  h1 {
    font-family: $font;
    opacity: 0;
    font-size: 3rem;
    position: relative;
    animation: engineering 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    @media screen and (max-width: 992px){
      font-size: 2.5rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 576px) {
      font-size: 7vw;
    }
  }
}

.main-phrase {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 576px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.wrench {
  opacity: 0;
  position: absolute;
  left: -50px;
  top: -25px;
  width: 50px;
  @media screen and (max-width: 576px) {
    display: none;
  }
  animation: wrench 3s ease;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition: all 0.5s;
}

.hat {
  opacity: 0;
  @media screen and (max-width: 576px) {
    display: none;
  }
  position: absolute;
  width: 50px;
  right: -60px;
  bottom: -25px;
  animation: hat 3s ease;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition: all 0.5s;
}

@keyframes engineering {
  from {
    opacity: 0.1;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes wrench {
  0% {
    opacity: 1;
    transform: rotate(0)translate(0, 0);
    transform-origin: top right;
  }
  35% {
    transform: rotate(90deg)translate(38px, 10px);
    transform-origin: top right;
  }
  50% {
    transform: rotate(45deg)translate(20px, 15px);
    transform-origin: top right;
  }
  65% {
    transform: rotate(90deg)translate(38px, 10px);
    transform-origin: top right;
  }
  100% {
    opacity: 1;
    transform: rotate(0)translate(0, 0);
    transform-origin: top right;
  }
}

@keyframes hat {
  0% {
    opacity: 1;
    transform: rotate(0)translate(0, 0);
    transform-origin: top right;
  }
  30% {
    transform: rotate(20deg)translate(0, 0);
    transform-origin: top right;
  }
  60% {
    transform: rotate(20deg)translate(0, -20px);
    transform-origin: top right;
  }
  100% {
    opacity: 1;
    transform: rotate(0)translate(0, 0);
    transform-origin: top right;
  }
}

// about 

.about {
  display: flex;
  border: 2px solid $my-blue;
  border-radius: 10px;
  padding: 10px;
  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}

.personal-info {
  display: flex;
  flex-basis: 40%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: $font;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.about-division {
  display: block;
  width: 1px;
  background-color: $my-blue;
  margin: 20px 10px;
  @media screen and (max-width: 768px) {
    margin: 0.5rem 0 0 0;
  }
}

.about-mt {
  margin-top: 10px;
}

.about-info {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  @media screen and (max-width: 576px){
    font-size: 4.3vw;
  }
}

.more-info {
  position: relative;
  margin: 15px 0 10px 0;
  font-size: 1.3rem;
  @media screen and (max-width: 992px) {
    font-size: 1.2rem;
    background: $my-blue;
    color: $page-bk;
  }
  transition: all 0.5s ease;
  padding: 5px;
  span {
    position: relative;
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  &::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    background-color: $my-blue;
    top: 0px;
    left: 0px;
    display: block;
    border-top: 1px solid $my-blue;
    border-bottom: 1px solid $my-blue;
    z-index: -1;
    width: 0%;
    height: 100%;
    transition: all 0.5s ease;
  }
  &::after {
    content: 'More Info';
    position: absolute;
    color: $page-bk;
    left: 0px;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
    &::before {
      width: 100%;
    }
    span {
      opacity: 0;
    }
  }
}

.skills-desk {
  @media screen and (max-width: 576px) {
    display: none;
  }
}

.skills-phone {
  display: none;
  svg {
    height: 25px;
    vertical-align: top;
  }
  .react {
    color: #00D8FF;
  }
  .js {
    color: #F5DE19;
    background: linear-gradient(rgb(241, 247, 237) 0%, rgb(241, 247, 237) 20%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 87%, rgb(241, 247, 237) 87%, rgb(241, 247, 237) 100%);
  }
  @media screen and (max-width: 576px){
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

// projects 

.projects {
  h2 {
    text-align: center;
  }
}

// project

.project-container {
  background-color: $my-blue;
  color: $page-bk;
  display: flex;
  height: 300px;
  @media screen and (max-width: 768px) {
    flex-flow: column;
    height: calc(400px + 30vw);
  }
  .img-container {
    position: relative;
    display: block;
    margin: 40px 0 40px 40px;
    @media screen and (max-width: 768px) {
      margin: 40px;
    }
    @media screen and (max-width: 576px) {
      margin: 10px;
    }

    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    .img-dec {
      position: absolute;
      border-bottom: solid 1px $page-bk;
      transform: rotate(-45deg)translate(-35px, -40px);
      width: 100px;
      @media screen and (max-width: 576px) {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        border-bottom: solid 1px $page-bk;
        transform: translate(12.5px, 10px);
        width: 75px;
      }
      &::after {
        content: "";
        position: absolute;
        border-bottom: solid 1px $page-bk;
        transform: translate(25px, 20px);
        width: 50px;
      }
    }
  }

  .info-container {
    flex-basis: 60%;
    @media screen and (max-width: 768px) {
      flex-basis: content;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 576px) {
      flex-basis: content;
      margin-bottom: 20px;
      padding: 0 10px;
    }
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 40px;
    p {
      text-align: justify;
    }
    p, h3 {
      margin: 0 0 0 .75rem;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
    h3 {
      margin-bottom: 0.5rem;
    }
  }

  .info-dec {
    position: absolute;
    border-bottom: solid 1px $page-bk;
    transform: rotate(45deg)translate(35px, 18px);
    right: 0;
    top: 0;
    width: 100px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      border-bottom: solid 1px $page-bk;
      transform: translate(12.5px, 10px);
      width: 75px;
    }
    &::after {
      content: "";
      position: absolute;
      border-bottom: solid 1px $page-bk;
      transform: translate(25px, 20px);
      width: 50px;
    }
  }

  .buttons {
    display: flex;
    i {
      width: $btn-icon;
      height: $btn-icon;
    }
    svg {
      width: $btn-icon;
      vertical-align: top;
    }
    .btn-links {
      display: flex;
      color: $page-bk;
      align-items: center;
      transition: all 0.5s ease;
      margin-right: 1rem;
      @media screen and (max-width: 768px) {
        color: $my-blue;
        background-color: $page-bk;
      }
      &:hover {
        color: $my-blue;
        background-color: $page-bk;
      }
    }
  }

  &:nth-child(odd) {
    box-shadow: 0px 0px 4px 0px $my-blue;
    background-color: $page-bk;
    color: black;
    .img-dec, .info-dec {
      border-bottom: solid 1px $my-blue;
      &::before {
        border-bottom: solid 1px $my-blue;
      }
      &::after {
        border-bottom: solid 1px $my-blue;
      }
    }
    .btn-links {
      color: black;
      @media screen and (max-width: 768px) {
        color: $page-bk;
        background-color: $my-blue;
      }
      &:hover {
        color: $page-bk;
        background-color: $my-blue;
      }
    }
  }
}

.icons {
  margin: 1rem 0;
  img {
    padding-left: 0.75rem;
    height: 30px;
    @media screen and (max-width: 768px) {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

// contact information

.contact-container {
  margin-bottom: 30px;
  h2 {
    text-align: center;
  }
  span {
    padding: 0 0 10px 0;
  }
}

.contact-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  a {
    color: #4B4E6D;
  }
}

$icon-time: 0.75s;

.contact-icons {
  display: flex;
  justify-content: center;
  a {
    margin: 0 10px;
    color: #4B4E6D;
    transition: all 0.7s ease;
  }
  svg {
    width: 30px;
  }
  @media screen and (max-width: 768px) {
    .github {
      color: black;
    }
    .linkedin {
      color: #0077B5;
    }
    .twitter {
      color: #1DA1F2;
    }
  }
  .github:hover {
    color: black;
  }
  .linkedin:hover {
    color: #0077B5;
  }
  .twitter:hover {
    color: #1DA1F2;
  }
}