@import "variables";
@import "header";
@import "about";
@import "project";
@import "contact";

body {
  background-color: $page-bk;
  font-family: 'Noto Sans JP', sans-serif;
  @media screen and (max-width: 992px) {
    font-size: 1rem;
  }
}

// general

.box-shadow {
  box-shadow: 10px 10px 2px 0px $my-blue;
}

.margin-containers {
  margin-top: 50px;
}