@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 0px 5px 2px #fff;
          box-shadow: 0px 0px 5px 2px #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#427AA3), to(#369ae7));
  background: linear-gradient(180deg, #427AA3 0%, #369ae7 100%);
  color: #F1F7ED;
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }
}

.header h1 {
  font-family: "DM Sans", sans-serif;
  opacity: 0;
  font-size: 3rem;
  position: relative;
  -webkit-animation: engineering 1s ease;
          animation: engineering 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {
  .header h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .header h1 {
    font-size: 7vw;
  }
}

.main-phrase {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main-phrase {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .main-phrase {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.wrench, .hat {
  display: none;
}

@media screen and (min-width: 577px) {
  .wrench {
    display: block;
    opacity: 0;
    position: absolute;
    left: -50px;
    top: -25px;
    width: 50px;
    -webkit-animation: wrench 3s ease;
            animation: wrench 3s ease;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .hat {
    display: block;
    opacity: 0;
    position: absolute;
    width: 50px;
    right: -60px;
    bottom: -25px;
    -webkit-animation: hat 3s ease;
            animation: hat 3s ease;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@-webkit-keyframes engineering {
  from {
    opacity: 0.1;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes engineering {
  from {
    opacity: 0.1;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes wrench {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  35% {
    -webkit-transform: rotate(90deg) translate(38px, 10px);
            transform: rotate(90deg) translate(38px, 10px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  50% {
    -webkit-transform: rotate(45deg) translate(20px, 15px);
            transform: rotate(45deg) translate(20px, 15px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  65% {
    -webkit-transform: rotate(90deg) translate(38px, 10px);
            transform: rotate(90deg) translate(38px, 10px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

@keyframes wrench {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  35% {
    -webkit-transform: rotate(90deg) translate(38px, 10px);
            transform: rotate(90deg) translate(38px, 10px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  50% {
    -webkit-transform: rotate(45deg) translate(20px, 15px);
            transform: rotate(45deg) translate(20px, 15px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  65% {
    -webkit-transform: rotate(90deg) translate(38px, 10px);
            transform: rotate(90deg) translate(38px, 10px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

@-webkit-keyframes hat {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  30% {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  60% {
    -webkit-transform: rotate(20deg) translate(0, -20px);
            transform: rotate(20deg) translate(0, -20px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

@keyframes hat {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  30% {
    -webkit-transform: rotate(20deg) translate(0, 0);
            transform: rotate(20deg) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  60% {
    -webkit-transform: rotate(20deg) translate(0, -20px);
            transform: rotate(20deg) translate(0, -20px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0) translate(0, 0);
            transform: rotate(0) translate(0, 0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

.about {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 4px 0px #427AA3;
          box-shadow: 0px 0px 4px 0px #427AA3;
  border-radius: 4px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal-info h2 {
  font-family: "DM Sans", sans-serif;
}

.personal-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about-division {
  display: block;
  width: 1px;
  background-color: #427AA3;
  margin: 20px 10px;
}

@media screen and (max-width: 768px) {
  .about-division {
    margin: 0.5rem 0 0 0;
  }
}

.about-mt {
  margin-top: 10px;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .about-info {
    font-size: 4.3vw;
  }
}

.esp-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.esp-sm span:last-of-type {
  margin-left: 0.75rem;
}

@media screen and (max-width: 576px) {
  .esp-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .esp-sm span:last-of-type {
    margin-left: 0;
  }
}

.more-info {
  position: relative;
  margin: 15px 0 10px 0;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .more-info {
    font-size: 1.2rem;
    background: #427AA3;
    color: #F1F7ED;
  }
}

.more-info span {
  position: relative;
  left: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.more-info::before {
  content: '';
  border-radius: 5px;
  position: absolute;
  background-color: #427AA3;
  top: 0px;
  left: 0px;
  display: block;
  border-top: 1px solid #427AA3;
  border-bottom: 1px solid #427AA3;
  z-index: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.more-info:hover::before {
  width: 100%;
}

.more-info:hover span {
  color: #F1F7ED;
}

@media screen and (max-width: 576px) {
  .skills-desk {
    display: none;
  }
}

.skills-phone {
  display: none;
}

.skills-phone svg {
  height: 25px;
  vertical-align: top;
}

.skills-phone .react {
  color: #00D8FF;
}

.skills-phone .js {
  color: #F5DE19;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f7ed), color-stop(20%, #f1f7ed), color-stop(20%, black), color-stop(87%, black), color-stop(87%, #f1f7ed), to(#f1f7ed));
  background: linear-gradient(#f1f7ed 0%, #f1f7ed 20%, black 20%, black 87%, #f1f7ed 87%, #f1f7ed 100%);
}

@media screen and (max-width: 576px) {
  .skills-phone {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.projects h2 {
  text-align: center;
}

.project-container {
  background-color: #427AA3;
  -webkit-box-shadow: 0px 0px 4px 0px white;
          box-shadow: 0px 0px 4px 0px white;
  color: #F1F7ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: calc(400px + 30vw);
  }
}

.project-container .img-container {
  position: relative;
  display: block;
  margin: 40px 0 40px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .project-container .img-container {
    margin: 40px;
  }
}

@media screen and (max-width: 576px) {
  .project-container .img-container {
    margin: 10px;
  }
}

.project-container .img-container .img-dec {
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: rotate(-45deg) translate(-35px, -40px);
          transform: rotate(-45deg) translate(-35px, -40px);
  width: 100px;
}

@media screen and (max-width: 576px) {
  .project-container .img-container .img-dec {
    display: none;
  }
}

.project-container .img-container .img-dec::before {
  content: "";
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: translate(12.5px, 10px);
          transform: translate(12.5px, 10px);
  width: 75px;
}

.project-container .img-container .img-dec::after {
  content: "";
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: translate(25px, 20px);
          transform: translate(25px, 20px);
  width: 50px;
}

.project-container .info-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .project-container .info-container {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .project-container .info-container {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.project-container .info-container p {
  text-align: justify;
}

.project-container .info-container p, .project-container .info-container h3 {
  margin: 0 0 0 .75rem;
}

@media screen and (max-width: 768px) {
  .project-container .info-container p, .project-container .info-container h3 {
    margin: 0;
  }
}

.project-container .info-container h3 {
  margin-bottom: 0.5rem;
}

.project-container .info-dec {
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: rotate(45deg) translate(35px, 18px);
          transform: rotate(45deg) translate(35px, 18px);
  right: 0;
  top: 0;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .project-container .info-dec {
    display: none;
  }
}

.project-container .info-dec::before {
  content: "";
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: translate(12.5px, 10px);
          transform: translate(12.5px, 10px);
  width: 75px;
}

.project-container .info-dec::after {
  content: "";
  position: absolute;
  border-bottom: solid 1px #F1F7ED;
  -webkit-transform: translate(25px, 20px);
          transform: translate(25px, 20px);
  width: 50px;
}

.project-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-container .buttons i {
  width: 20px;
  height: 20px;
}

.project-container .buttons svg {
  width: 20px;
  vertical-align: top;
}

.project-container .buttons .btn-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F1F7ED;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .project-container .buttons .btn-links {
    color: #427AA3;
    background-color: #F1F7ED;
  }
}

.project-container .buttons .btn-links:hover {
  color: #427AA3;
  background-color: #F1F7ED;
}

.project-container:nth-child(odd) {
  -webkit-box-shadow: 0px 0px 4px 0px #427AA3;
          box-shadow: 0px 0px 4px 0px #427AA3;
  background-color: #ffffff;
  color: black;
}

.project-container:nth-child(odd) .img-dec, .project-container:nth-child(odd) .info-dec {
  border-bottom: solid 1px #427AA3;
}

.project-container:nth-child(odd) .img-dec::before, .project-container:nth-child(odd) .info-dec::before {
  border-bottom: solid 1px #427AA3;
}

.project-container:nth-child(odd) .img-dec::after, .project-container:nth-child(odd) .info-dec::after {
  border-bottom: solid 1px #427AA3;
}

.project-container:nth-child(odd) .btn-links {
  color: black;
}

@media screen and (max-width: 768px) {
  .project-container:nth-child(odd) .btn-links {
    color: #F1F7ED;
    background-color: #427AA3;
  }
}

.project-container:nth-child(odd) .btn-links:hover {
  color: #F1F7ED;
  background-color: #427AA3;
}

.icons {
  margin: 1rem 0;
  margin-left: 0.75rem;
}

@media screen and (max-width: 768px) {
  .icons:first-of-type {
    margin-left: 0;
  }
}

.icons img {
  padding-left: 0.5rem;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .icons img:first-of-type {
    padding-left: 0;
  }
}

.contact-container h2 {
  margin-bottom: 10px;
}

.contact-container span {
  padding: 0 0 10px 0;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info a {
  color: #4B4E6D;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-icons a {
  margin: 0 10px;
  color: #4B4E6D;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.contact-icons svg {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .contact-icons .github {
    color: black;
  }
  .contact-icons .linkedin {
    color: #0077B5;
  }
  .contact-icons .twitter {
    color: #1DA1F2;
  }
}

.contact-icons .github:hover {
  color: black;
}

.contact-icons .linkedin:hover {
  color: #0077B5;
}

.contact-icons .twitter:hover {
  color: #1DA1F2;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  width: 100%;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #ddd;
}

.timeline-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px 0;
}

@media screen and (min-width: 992px) {
  .timeline-element {
    margin: 0 5%;
  }
}

.timeline-element::before {
  display: block;
  border-radius: 50%;
  top: 6.66667px;
  left: 37.5px;
  width: 5px;
  height: 5px;
  background-color: #47A8BD;
  position: absolute;
  content: "";
}

.timeline-element::after {
  display: block;
  border-radius: 50%;
  bottom: 6.66667px;
  left: 37.5px;
  width: 5px;
  height: 5px;
  background-color: #47A8BD;
  position: absolute;
  content: "";
}

.timeline-element:first-of-type::before {
  display: none;
}

.timeline-element:last-of-type::after {
  display: none;
}

.timeline-year {
  width: 80px;
  text-align: center;
}

.timeline-desc {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: justify;
}

.timeline-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-wrap img {
  width: 80px;
  height: 80px;
  background-color: #47A8BD;
  border-radius: 50%;
}

.hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .hobbies {
    margin-top: 20px;
  }
}

.hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hobby {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 20px;
  }
}

.hobby img {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.background-info p {
  margin-top: 30px;
}

.lang-container label {
  background-color: white;
  border: 1px solid #427AA3;
  padding: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 0;
  cursor: pointer;
}

.lang-container label:first-of-type {
  margin-left: 0.75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lang-container label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lang-radio {
  display: none;
}

.lang-radio:checked + label {
  background-color: #427AA3;
  color: #F1F7ED;
}

.first-time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F1F7ED;
  top: calc(50vh - 150px);
  height: 300px;
}

@media screen and (max-width: 768px) {
  .first-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    top: calc(50vh - 300px);
    height: 600px;
  }
}

.first-time div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, left bottom, from(#427AA3), to(#369ae7));
  background: linear-gradient(180deg, #427AA3 0%, #369ae7 100%);
  cursor: pointer;
}

.first-time div:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px white solid;
}

.first-time div:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px white solid;
}

@media screen and (max-width: 768px) {
  .first-time div {
    height: 100%;
  }
  .first-time div:first-of-type {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-right: 0;
    border-bottom: 1px solid white;
  }
  .first-time div:last-of-type {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-left: 0;
    border-top: 1px white solid;
  }
}

.first-time span {
  max-width: 80%;
  text-align: center;
}

.first-interactive {
  position: relative;
  top: calc(50vh - 125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .first-interactive {
    top: calc(50vh - 295px);
  }
}

.first-interactive .interactive-title {
  height: 40px;
  margin-bottom: 10px;
}

@media screen and (max-width: 580px) {
  .first-interactive .interactive-title {
    text-align: center;
    height: 80px;
  }
}

.first-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .first-containers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 500px;
    width: 100%;
  }
}

.first-containers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, left bottom, from(#427AA3), to(#369ae7));
  background: linear-gradient(180deg, #427AA3 0%, #369ae7 100%);
  cursor: pointer;
  color: #F1F7ED;
  text-align: center;
  height: 200px;
  width: 80%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.first-containers div:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid white;
}

.first-containers div:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid white;
}

@media screen and (max-width: 768px) {
  .first-containers div {
    width: 100%;
    padding: 8px;
  }
  .first-containers div:first-of-type {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-right: 0;
    border-bottom: 1px solid white;
  }
  .first-containers div:last-of-type {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-left: 0;
    border-top: 1px solid white;
  }
}

.cli {
  display: block;
  overflow-y: scroll;
  font-family: 'Ubuntu Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 200px;
  background-color: #0f0f0f;
  padding: 5px;
  color: white;
}

.cli a {
  color: #6969b3;
}

.cli .github svg, .cli .linkedin svg, .cli .twitter svg {
  height: 1rem;
}

.cli .github {
  color: white;
}

.cli .linkedin {
  color: #0077B5;
}

.cli .twitter {
  color: #1DA1F2;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field input {
  background-color: #0f0f0f;
  border: 0;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: absolute;
  right: 0;
  top: calc(40% - 40px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media screen and (max-width: 576px) {
  .menu {
    top: calc(40% - 30px);
  }
}

.menu .btn-inter {
  pointer-events: inherit;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100px;
}

.menu .btn-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  padding: 0;
}

.menu .bar {
  display: block;
  height: 2px;
  width: 24px;
  background-color: #427AA3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 776px) {
  .menu .bar {
    height: 2.5px;
  }
}

@media screen and (min-width: 992px) {
  .menu .bar {
    height: 3px;
  }
}

.menu .bar-1, .menu .bar-2 {
  margin-bottom: 4px;
}

.menu .bar-2 {
  opacity: 0;
}

.menu .bar-1 {
  -webkit-transform: rotate(45deg) translate(8.49px);
          transform: rotate(45deg) translate(8.49px);
}

.menu .bar-3 {
  -webkit-transform: rotate(-45deg) translate(8.49px);
          transform: rotate(-45deg) translate(8.49px);
}

.btn-inter {
  color: #427AA3;
}

.menu.closed .btn-inter {
  padding-left: 0;
  width: 0;
  padding-right: 0;
  overflow: hidden;
  pointer-events: none;
}

.menu.closed .bar-2 {
  opacity: 1;
}

.menu.closed .bar-1, .menu.closed .bar-3 {
  -webkit-transform: none;
          transform: none;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#eeeeee));
  background: linear-gradient(#dddddd 0%, #eeeeee 100%);
  background-repeat: no-repeat;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
}

.margin-containers {
  margin-top: 50px;
}

.btn-back {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 5;
  border-radius: 10px 10px 0 0;
  background-color: #427AA3;
  color: #F1F7ED;
}

.btn-back:hover {
  color: #F1F7ED;
}

.title-under {
  border-bottom: 3px solid #427AA3;
}

.m-a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */